<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @sharan.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @sharan.last %>
</p>

<%= link_to 'Edit', edit_sharan_path(@sharan) %> |
<%= link_to 'Back', sharans_path %>
